[Unit]
Description=DavMail Exchange Gateway

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/opt/davmail/davmail /home/medivhok/.config/davmail/davmail.conf
ExecStop=killall davmail

[Install]
WantedBy=multi-user.target